<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" href="" data-toggle="tab" data-target="#company">Company</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="" data-toggle="tab" data-target="#billing">Billing</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="" data-toggle="tab" data-target="#users">Users</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="" data-toggle="tab" data-target="#equipment">Equipment</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="" data-toggle="tab" data-target="#activity">Activity</a>
    </li>
</ul>
<div class="tab-content">
    <div id="company" class="tab-pane active">
        <p>Form for company information</p>
    </div>
    <div id="billing" class="tab-pane">
        <p>Form for changing billing info and seeing past invocies</p>
    </div>
    <div id="users" class="tab-pane">
        <p>Manage users and add new ones.</p>
    </div>
    <div id="equipment" class="tab-pane">
        <p>Manage the machines/equipment for manufacturing??</p>
    </div>
    <div id="activity" class="tab-pane">
        <audit-list></audit-list>
    </div>
</div>