<div [hidden]="submitted">
    <form #loginForm="ngForm" (ngSubmit)="login()">
        <div class="form-group">
            <label for="username">Email</label>
            <input type="email" class="form-control" id="username" autofocus 
                required [(ngModel)]="model.username" name="username" #username="ngModel">
            <div [hidden]="username.valid || username.pristine" class="alert alert-danger">
                Username is required
            </div>
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" 
                required [(ngModel)]="model.password" name="password" #password="ngModel">
            <div [hidden]="password.valid || password.pristine" class="alert alert-danger">
                Password is required
            </div>
        </div>

        <button type="submit" class="btn btn-success" [disabled]="!loginForm.form.valid">Login</button>
        <span>{{ message }}</span>
    </form>
</div>

<div [hidden]="!submitted">
    <p>Logging in...</p>
</div>