.step-container {
    margin: 15px;
    text-align: center;
    width: 200px;
}
.step {
    background-color: orange;
    color: #fff;
    padding: 5px;
}

.step.complete {
    background-color: green;
}

.oi {
    margin-top: 15px;
    color: #fff;
}