<div *ngIf="model">
    <h2>{{ model.name }}</h2>
    <span class="badge">{{ model.status }}</span>
  
    <div class="form-group">
      <label for="code">Code</label>
      <span id="code" class="form-control">{{ model.code }}</span>
    </div>
  
    <div class="form-group">
      <label for="description">Description</label>
      <span id="description" class="form-control">{{ model.description }}</span>
    </div>
  
    <div class="form-group">
        <label for="height">Height</label>
        <span id="height" class="form-control">{{ model.height }}</span>
    </div>

    <div class="form-group">
        <label for="length">Length</label>
        <span id="length" class="form-control">{{ model.length }}</span>
    </div>

    <div class="form-group">
        <label for="width">Width</label>
        <span id="width" class="form-control">{{ model.width }}</span>
    </div>

    <div class="form-group">
        <label for="weight">Weight</label>
        <span id="weight" class="form-control">{{ model.weight }}</span>
    </div>
  
    <div class="form-group">
        <label for="revision">Revision</label>
        <span id="revision" class="form-control">{{ model.revision }}</span>
    </div>

    <div class="form-group">
        <label for="unitOfMeasure">Unit Of Measure</label>
        <span id="unitOfMeasure" class="form-control">{{ model.unitOfMeasure }}</span>
    </div>

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" href="" data-toggle="tab" data-target="#stats">Stats</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="" data-toggle="tab" data-target="#routers">Routers</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="" data-toggle="tab" data-target="#boms">Bill Of Materials</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="" data-toggle="tab" data-target="#work-orders">Work Orders</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="" data-toggle="tab" data-target="#activity">Activity</a>
        </li>
    </ul>
    <div class="tab-content">
        <div id="stats" class="tab-pane active">
            <label for="ontime">On-Time Delivery:</label>
            <span>95%</span><br>

            <label for="cycletime">Cycle Time:</label>
            <span>13 hours</span><br>

            <label for="changeovertime">Changeover Time:</label>
            <span>3 hours</span><br>

            <label for="yield">Yield:</label>
            <span>98%</span><br>

            <label for="returns">Customer Returns:</label>
            <span>1.5% (13)</span><br>

            <label for="incidents">Safety Incidents:</label>
            <span>3</span><br>

            <label for="cost">Cost per Unit:</label>
            <span>$3.14</span><br>
        </div>
        <div id="routers" class="tab-pane">
            <p>
                <button class="btn btn-default" (click)="toggleCreateRoutingVisibility()">Create</button>
            </p>
            <routing-list (onSelected)="onRoutingSelected($event)"></routing-list>
        </div>
        <div id="boms" class="tab-pane">
            <p>Todo: list of boms.</p>
        </div>
        <div id="work-orders" class="tab-pane">
            <work-order-list></work-order-list>
        </div>
        <div id="activity" class="tab-pane">
            <audit-list [list]="model.activity"></audit-list>
        </div>
    </div>
  </div>
  
  <side-panel [visible]="isCreateRoutingVisible" (onToggleVisibility)="toggleCreateRoutingVisibility($event)">
    <create-routing-page></create-routing-page>
  </side-panel>

  <side-panel [visible]="isRoutingDetailVisible" (onToggleVisibility)="toggleRoutingDetailVisibilty($event)">
      <routing-detail-page></routing-detail-page>
  </side-panel>
  
  {{ model | json }}