<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th>Created</th>
      <th>Last Updated</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>ABC</td>
      <td>Recipe #1</td>
      <td>01/01/2017</td>
      <td>01/01/2017</td>
    </tr>
    <tr>
        <td>DCA</td>
        <td>Recipe #2</td>
        <td>01/01/2017</td>
        <td>01/01/2017</td>
      </tr>
      <tr>
          <td>ADC</td>
          <td>Recipe #3</td>
          <td>01/01/2017</td>
          <td>01/01/2017</td>
        </tr>
  </tbody>

</table>