<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Id</th>
      <th>Item</th>
      <th>Quantity</th>
      <th>Units</th>
      <th>Status</th>
      <th>Due Date</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let workOrder of workOrders" (click)="select(workOrder)">
      <td>{{ workOrder.id }}</td>
      <td>{{ workOrder.inventoryItem }}</td>
      <td>{{ workOrder.quantity }}</td>
      <td>{{ workOrder.unitOfMeasure }}</td>
      <td>{{ workOrder.status }}</td>
      <td>{{ workOrder.dueDate | date:'MM/dd/yyyy' }}</td>
    </tr>
  </tbody>
</table>