<div class="card padded">
    <div class="row">
      <div class="col-md-8">
          <h1>Nicholas Barger</h1>
          <p class="title">President</p>
          <p>Chicago, IL</p>
          <p><a href="mailto:nicholas@nicholasbarger.com">nicholas@nicholasbarger.com</a></p>
          <p><span class="oi oi-media-record" style="color: green;"></span> Online</p>

          <label for="created">User Since:</label>
          <span id="code">1/1/2017</span>    
          
          <hr>

          <table class="table">
            <tbody>
              <tr>
                <td><strong>42</strong> work orders</td>
                <td><strong>830</strong> hours logged</td>
              </tr>
              <tr>
                <td><strong>307</strong> quality checks</td>
                <td><strong>42k</strong> items produced</td>
              </tr>
            </tbody>
          </table>
      </div>
      <div class="col-md-4 text-center">
          <img src="assets/profile-sm.jpg" alt="Nicholas Barger" class="profile rounded">
          <button type="button" class="btn btn-link">Upload new picture</button>
      </div>
    </div>

    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="" data-toggle="tab" data-target="#activity">Recent Activity</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="" data-toggle="tab" data-target="#skills">Skills</a>
      </li>
    </ul>
    <div class="tab-content">
      <div id="activity" class="tab-pane active">
        <p>Here is my tab of recent activity.</p>
      </div>
      <div id="skills" class="tab-pane">
        <p>Here are my skills.</p>
      </div>
    </div>
</div>