section {
    width: 50%; 
    position: absolute; 
    right: 0px; 
    top: 59px; 
    height: 100%; 
    background-color: #383c46;
    border-left: 2px solid #513b0a; 
    padding: 15px;
    box-shadow: -5px 0px 21px #161616;
}
