<div class="marketing-page">
  <h2>Caduceus is made for teams of every size</h2>
  <p>Try free for 15 days</p>

  <div class="row pricing">
    <div class="col-md-4">
      <section>
        <h3>Up to 10 users</h3>
        <span class="price">$10</span>
        <p>Per user/month</p>
      </section>
    </div>
    <div class="col-md-4">
        <section>
          <h3>11-100 users</h3>
          <span class="price">$7</span>
          <p>Per user/month</p>
        </section>
    </div>
    <div class="col-md-4">
        <section>
          <h3>101+ users</h3>
          <span class="price">$5</span>
          <p>Per user/month</p>
        </section>
    </div>
  </div>
</div>