<nav class="navbar navbar-expand-lg sticky-top">
  <a class="navbar-brand" href="#">
    <img src="assets/logo.png" alt="Caduceus" title="Caduceus" width="30" height="30">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>    
  </button>

  <div class="collapse navbar-collapse" id="navbarContent">
    <ul class="navbar-nav mr-auto" style="display: none">
      <li class="nav-item"><a href="features" class="nav-link">Features</a></li>
      <li class="nav-item"><a href="pricing" class="nav-link">Pricing</a></li>
      <li class="nav-item"><a href="login" class="nav-link">Login</a></li>
      <li class="nav-item"><a href="signup" class="nav-link">Try for Free</a></li>
    </ul>

    <ul class="navbar-nav mr-auto">
      <li class="nav-item"><a href="work" class="nav-link">My Work</a></li>
      <li class="nav-item"><a href="dashboard" class="nav-link">Dashboard</a></li>
      <li class="nav-item">
        <a href="inventory" class="nav-link">Inventory</a>
        <ul>
          <li class="nav-item"><a href="inventory/items" class="nav-link">Items</a></li>
          <li class="nav-item"><a href="inventory/locations" class="nav-link">Locations</a></li>
          <li class="nav-item"><a href="inventory/stock" class="nav-link">Stock</a></li>
        </ul>  
      </li>
      <li class="nav-item">
        <a href="work-orders" class="nav-link">Work Orders</a>
        <ul>
          <li class="nav-item"><a href="work-orders/calendar" class="nav-link">Calendar</a></li>
          <li class="nav-item"><a href="work-orders/list" class="nav-link">List</a></li>
        </ul>
      </li>
      <li class="nav-item"><a href="profile" class="nav-link">Profile</a></li>
      <li class="nav-item"><a href="settings" class="nav-link">Settings</a></li>
    </ul>
  </div>
</nav>