/* import global styles */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "./bootstrap-custom.css";

/* action button/menu items */
.actions {    
}

.badge {
    background-color:green;
    font-size: 10pt;
    vertical-align: text-top;
}

/* marketing section only to center content */
.marketing-page {
    text-align: center;
}

.padded {
    padding: 15px;
}